<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scout24Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="scout24Test" ng-controller="AppCtrl">
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Web-Application for Analyzing Web-Sites for ImmobilienScout24</h1>
            <p class="lead">Sources and short description of the solution can be found at <a
                    href="https://bitbucket.org/esurovtsev/website-analizer-v2">https://bitbucket.org/esurovtsev/website-analizer-v2</a></p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="showErrorMessage" ng-cloak>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        ng-click="showErrorMessage=false">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!</strong> {{errorMessage}}
            </div>
            <form style="margin-bottom: 30px" name="form" ng-submit="form.$valid && sendUrl(url)">
                <fieldset ng-disabled="inProcess">
                    <div class="form-group">
                        <label for="url">Website to analyze</label>
                        <input type="url"
                               class="form-control"
                               id="url"
                               placeholder="enter url here"
                               ng-model="url"
                               novalidate required>
                        <p class="help-block">Enter website url you'd like to analyze and submit.</p>
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
                </fieldset>
            </form>
            <p style="text-align: center" ng-show="inProcess" ng-cloak><i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
            </p>
            <div class="panel panel-default" ng-show="!inProcess && showResult" ng-cloak>
                <div class="panel-heading">Website Analyzing Report</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr ng-repeat="row in resultTable">
                            <td><strong>{{row.title}}</strong></td>
                            <td>{{row.value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>